html { scroll-behavior: smooth; 
}

header{
    height: fit-content;
    border-bottom: 2px solid ;
  border-image: linear-gradient(to right, #000000) 1;
  z-index: 999;
    position: fixed;
    width: 100%;
    border-top: none;
    background-color: #000000;
    margin-top: -10px;
    margin-left: -10px;
}

header::after {
  content: '';
  display: block;
  height: 2px;
  background: #8B0000;
  background-attachment: scroll;
  margin-top: 20px;
}

li{
    display: inline-block;
    color: white;
    padding: 10px;
}
.entete {
  background-image: url(menu.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 40px;
  padding-bottom: 17px;
  background-color: #000000;
  border-bottom: 2px solid #C5A880;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 30px 50px;
  font-family: orbitron;
  width: 100%;
  margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase
}
nav a:hover {
  color: rgb(31, 99, 200);
}

.logo{
font-size:32px;
font-weight:900;
color:white;
letter-spacing:2px;
font-family: orbitron;
margin-top: 20px;
margin-left: 5px;
}

.logo a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu li:hover .submenu{
visibility: visible;
transform: translateY(0);
opacity: 1;
}

.menu li{
position:relative;
}

.menu li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right,#8B6B4D,#f4c542);
    transition: 0.3s ease;
}

.menu ul{
display:flex;
list-style:none;
gap: 40px;
}

.menu a:hover{
background:#c94b63;
color:#e6ff00;
}

.menu a{
text-decoration:none;
color:white;
padding:15px 25px;
display:block;
position:relative;
transition:0.3s;
font-size:16px;
font-weight:600;
letter-spacing:1px;
text-transform:uppercase;
}

.menu a::after{
content:"";
position:absolute;
left:0;
bottom:0;
width:0;
height:3px;
background:linear-gradient(to right,#ff0000,#ffd000);
transition:width 0.3s ease;
}

.menu a:hover::after{
opacity:1;
}

.submenu{
position:absolute;
top:100%;
left:0;
background:transparent;
list-style:none ;
visibility:hidden;
opacity:0;
transform:translateY(-10px);
transition:0.3s;
display: flex;
flex-direction:row;
padding:5px 0;
border-radius:6px;
z-index: 999;
}

.submenu li{
padding: 2px;
}

.submenu a:hover{
background:#ffcc00;
color:black;
}

.principal{
    margin-top: 0;
}

.menu{
margin-left: 42%;
display:flex;
gap:20px;
margin-top: 33px;
position: relative;
}

.principe{
text-align:center;
padding:80px;
padding-top: 20px;
}

.principe h1{
font-size:40px;
}
.slogan{
color:#000000;
font-size:30px;
margin-bottom:40px;
}
.cartes{
display:flex;
justify-content:center;
gap:40px;
margin-top:60px;
}
.carte{
position:relative;
width:350px;
height:220px;
border-radius:12px;
overflow:hidden;
box-shadow:0 10px 30px rgba(0,0,0,0.3);
cursor:pointer;
}
.carte img{
width:100%;
height:100%;
object-fit:cover;
transition:0.5s;
}
.info{
position:absolute;
bottom:0;
left:0;
width:100%;
height:100%;
background:linear-gradient(to top, rgba(0,0,0,0.85), transparent);
color:white;
padding:25px;
display:flex;
flex-direction:column;
justify-content:flex-end;
transform:translateY(100%);
transition:0.5s;
}
.carte:hover .info{
transform:translateY(0);
}
.carte:hover img{
transform:scale(1.1);
}
.info h3{
font-size:24px;
margin-bottom:10px;
}
.info p{
font-size:15px;
line-height:1.5;
text-align: left;
}
section{
    height: 400px;
}
body{
    min-height: 100dvh;
    background: linear-gradient(360deg, #000000 0%, #000000 38%, #8B0000 90%, #cc0020 100%);
    background-attachment: fixed;    
}
.piedage{
    text-align: center;
    height: 20px;
    color:#730000 ;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin-top:40px;
    bottom: 0;
    left: 0;
    width: 100%
}
.description-f1{
display:flex;
justify-content:center;
gap:40px;
margin-top:30px;
margin-bottom:0px;
}
.texte-f1{
width:400px;
background:#C5A880;
padding:25px;
border-radius:10px;
box-shadow:0 8px 20px rgba(0,0,0,0.1);
}
.texte-f1 h2{
margin-bottom:10px;
font-size:26px;
}
.texte-f1 p{
font-size:17px;
line-height:1.6;
}
.regles-f1{
width:90%;
margin:70px auto;
text-align:center;
}
.titre-regles{
font-size:36px;
margin-bottom:40px;
letter-spacing:2px;
color: #730000;
}
.regles{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
}
.carte-regle{
background: #C5A880;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.15);
transition:0.4s;
cursor:pointer;
}
.carte-regle:hover{
transform:translateY(-10px);
box-shadow:0 20px 40px rgba(0,0,0,0.25);
border-radius: 50px 0 50px 0;
}
.carte-regle h3{
margin-bottom:10px;
font-size:20px;
}
.carte-regle p{
font-size:16px;
line-height:1.5;
color:#555;
}

h1, h2, h3{
  font-family: orbitron;
  text-align: center;
}

p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.descend{
  margin-top: 80px;
}